<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339052235450-rici7k1hn528hve1dbg8qu3ap2q0u57e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339052235450-rici7k1hn528hve1dbg8qu3ap2q0u57e</string>
	<key>API_KEY</key>
	<string>AIzaSyByoD6YSDb15-XkGdqldLpaqEzBbqBWvVo</string>
	<key>GCM_SENDER_ID</key>
	<string>339052235450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>assignment.final-project-shalini</string>
	<key>PROJECT_ID</key>
	<string>myperiod-75a9a</string>
	<key>STORAGE_BUCKET</key>
	<string>myperiod-75a9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339052235450:ios:c076c2b1ba8bec5a5b5083</string>
	<key>DATABASE_URL</key>
	<string>https://myperiod-75a9a.firebaseio.com</string>
</dict>
</plist>